In [5]:
#List of high schools

high_schools = ["Hernandex High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandex High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
# A dictionary of high schools and the type of school.

high_school_types = [{"High School": "Griffin", "type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [ ]:
# List of high schools

high_schools = ["Huang High Shool", "Figueroa High School", "Schelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [11]:
# Add the Pandas dependency.

import pandas as pd

In [12]:
# Create a Pandas Series from a list.

school_series = pd.Series(high_schools)

school_series

0    Hernandex High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [13]:
high_schools

['Hernandex High School',
 'Figueroa High School',
 'Wilson High School',
 'Wright High School']

In [14]:
# A dictionary of high schools

high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [15]:
school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Three separate lists of information on high schools

school_id =[0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
              "Schelton high School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [24]:
# Initialize a new DataFrame.

schools_df = pd.DataFrame()

In [25]:
# Add the list to a new DataFrame.

schools_df["School ID"] = school_id

# Print the DataFrame.

schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [28]:
# Add school name list and type of school list to DataFrame

schools_df["School Name"] = school_name

schools_df["Type"] = type_of_school

#Print the DataFrame

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2   Schelton high School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
# Get Columns attribute

schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [31]:
# Get Index attributes

school_df.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
# Get the Values attributes

school_df.values

array([[0, 'Huang High School', 'District', 'District'],
       [1, 'Figueroa High School', 'District', 'District'],
       [2, 'Shelton High School', 'Charter', 'Charter'],
       [3, 'Hernandez High School', 'District', 'District'],
       [4, 'Griffin High School', 'Charter', 'Charter']], dtype=object)

In [33]:
# Skill Drill -Create a list for each column and add each list to a new DataFrame

school_dict = {
    "School ID": [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
    "school_name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"],
    "type":["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]
}
pd.DataFrame(school_dict)

    School ID            school_name      type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter